body {
  font-family: "Montserrat";
  font-weight: 300;
}

h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
h2 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 2rem;
  line-height: 1.5;
}
h3 {
  font-family: "Montserrat";
  font-weight: 900;
}
p {
  color: #8f8f8f;
}
.carousel-item {
  padding: 7% 15%;
}
.container-fluid {
  padding: 3% 15%;
}
.icon {
  color: #ef8172;
  padding-bottom: 1rem;
  display: inline-block;
}
.icon:hover {
  color: #ff4c68;
}

.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0%;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
.pricing-column {
  padding: 3% 2%;
}
.testimonials-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.title-image {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}
@media (max-width: 1100px) {
  .title-image {
    position: static;
    width: 60%;
    text-align: center;
    transform: rotate(0deg);
  }
  #title {
    text-align: center;
  }
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
#pricing {
  padding: 100px;
  text-align: center;
}
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
#title {
  background-color: #ff4c68;
  color: #fff;
  font-weight: 300;
}
